
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Codebreaker</title>
    <link rel="stylesheet" href="assets/stylesheets/Ptty.css" type="text/css">
    <link rel="stylesheet" href="assets/stylesheets/lemonade.css" type="text/css">
    <link rel="stylesheet" href="assets/stylesheets/main.css" type="text/css">

</head>
<body>
    
    <div class="header"> 
        <h1>CODEBREAKER ...</h1>
    </div>

    <div class="frame" style="width: 96%">
        <div class="bit-3">
            <p>
                ....is a logic game in which a code-breaker should break a secret code created by a game. The game creates a secret code of four numbers between 1 and 6.
            </p>
            <p>
                The code-breaker then gets some number of chances to break the code. In each turn, the code-breaker makes a         guess of four numbers. The game then marks the guess with up to four + and - signs.
            <p>
                A + indicates an exact match: one of the numbers in the guess is the same as one of the numbers in the secret       code and in the same position.
            </p>
            <p>
                A - indicates a number match: one of the numbers in the guess is the same as one of the numbers in the secret       code but in a different position.
            </p>
        </div>
        <div id="term-border" class="bit-2">
            <div id="terminal"></div>
        </div>
    </div>

    
   
   

    
    

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="assets/js/Ptty.jquery.js"></script>
<script type="text/javascript" src="assets/js/main.js"></script>
</body>
</html>